body {
	color: black;
	background-color: white;
	font-size: 12pt;
	font-family: serif;
}

div.menu {
	display: none;
}
#habillage {
	display: none;
}

div.content {
	width: auto;
	margin: 0 5%;
	padding: 0;
	border: 0;
	color: black;
	background: transparent;
}
a:link, a:visited {
	color: #520;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
}
div.valid {
	display: none;
}
