body {
	margin: 2%;
	font-family: sans-serif;
	text-align: justify;
}

p {
	text-indent: 5%;
	margin: 2% 0%;
}

div.header {
	margin-bottom: 5%;
}

div.menu, div.links {
	width: 90%;
	margin: auto;
	text-align: center;
}
div.menu {
	padding: 1%;
}
div.header a {
	text-decoration: none;
}
div.header a:hover {
	text-decoration: underline;
}
div.news {
	margin-bottom: 5%;
}
div.remark, div.important {
	width: 90%;
	margin: 3% auto;
	padding: 1%;
}

blockquote {
	text-align: right;
	font-style: italic;
}

.code {
	padding: 5px;
}

ul {
	list-style-type: square;
}

q {
	font-style: italic;
}

div.footer {
	text-align: center;
	font: 0.8em/1.2em sans-serif;
	margin-top: 5%;
	padding: 1%;
}
div.timestamp {
	text-align: left;
}
div.valid {
	margin:1%;
}
div.copyright {
	font-style: italic;
}
h1.chapitre {
	text-indent: 15%;
	margin: 5%;
}
h1.nouv {
	text-align:center;
}
h2.nouv {}
div.vertical-space {
	margin-top: 15%;
	margin-bottom: 15%;
}
a img {
	border: none;
}
.center {
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	padding-left: 1%;
	padding-right: 1%;
}

#habillage {
	width: 90%;
	margin: auto;
	font-size: 0.8em;
}
#habillage label {
	vertical-align:top;
}

#habillage select {
}
div.map li {
	list-style:none;
}
div.map p.credit {
	font-style: italic;
	text-align: right;
}
h3.cv {
	margin-left: 1.2em;
}
