@import url(main.css);
body {
	background-color: rgb(255,250,245);
	color: rgb(20,20,20);
	line-height : 150%;
	word-spacing: 0.05em;
	letter-spacing: 1px;
}
p:first-letter {
	font: bold 1.5em serif;
	color: rgb(80,80,80);
	background-color: rgb(255,250,245);
}
p.light:first-letter, p.dialogue:first-letter {
	font: normal 1.0em sans-serif;
	color: rgb(20,20,20);
	background-color: rgb(255,250,245);
}

div.menu {
	background-color: rgb(45,55,80);
	color: rgb(255,255,255);
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

div.menu a {
	background-color: rgb(45,55,80);
	color: rgb(235,245,255);
}
div.news h3 {
	margin-right: 50%;
	border-bottom: 1px solid rgb(20,20,20);
}
div.remark {
	background-color: rgb(230,210,170);
	color : rgb(20,20,20);
}

div.important {
	background-color: rgb(255,85,85);
	color : white;
}
.code {
	border: thin dashed black;
	background-color: white;
	color: black;
}
a.intern {
	background-color: rgb(255,250,245);
	color: rgb(50,165,230);
}
a.intern:visited {
	background-color: rgb(255,250,245);
	color: rgb(30,100,140);
}
a.intern:hover {
	background-color: rgb(255,250,245);
	color: rgb(200,80,20);
}
a.extern {
	background-color: rgb(255,250,245);
	color: rgb(210,180,115);
}
a.extern:visited {
	background-color: rgb(255,250,245);
	color: rgb(50,165,230);
}
a.extern:hover {
	background-color: rgb(255,250,245);
	color: rgb(200,80,20);
}
a.wikipedia {
	background-color: rgb(255,250,245);
	color: rgb(255,125,50);
}
a.wikipedia:visited {
	background-color: rgb(255,250,245);
	color: rgb(170,80,30);
}
a.wikipedia:hover {
	background-color: rgb(255,250,245);
	color: rgb(200,80,20);
}

div.footer {
	color: rgb(32,32,32);
	background-color: rgb(255,247,240);
	border: thin  outset rgb(20,20,20);
}
div.footer a {
	background-color: rgb(255,247,240);
	color: rgb(150,150,150);
}
div.copyright {
	background-color: rgb(255,247,240);
	color: rgb(63,63,63);
}
span.wip {
	color: rgb(239,41,41);
	background-color: rgb(255,250,245);
}
span.fait {
	color: rgb(78,154,6);
	background-color: rgb(255,250,245);
}
h1.nouv {
	font: bold 1.5em/2.0em sans-serif;
	text-align:center;
}
h2.nouv {
	font: bold 1.2em/1.7em sans-serif;
}
div.map p.credit {
	font: italic 0.8em sans-serif;
}
div.map p.credit:first-letter {
	font: italic 0.8em sans-serif;
	color: rgb(20,20,20);
	background-color: rgb(255,250,245);
}
div.links {
	font-size: 0.8em;
}
h1.chapitre {
	font: bold 2.0em/3.0em sans-serif;
}
