body {
	color: black;
	background-color: transparent;
	font-size: 12pt;
	font-family: serif;
}

h1 {
	font-size: 16pt;
}
h2 {
	font-size: 14pt;
}
.code {
	font-size: 10pt;
}

div.header, div.timestamp, div.valid {
	display: none;
}

div.content {
	width: auto;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: justify;
}
a {
	color: #520;
	background: transparent;
	text-decoration: underline;
}
p {
	text-indent: 1cm;
}
div.copyright {
	margin-top: 2cm;
	font-size: 10pt;
	text-align: center;
	font-style: italic;
}
div.copyright p {
	margin: 1pt;
}
